{
    "windows": {
        "service_name": "Spooler",
        "desired_state": "STOPPED",
        "firewall": "OFF",
        "blocked_sites": []
    },
    "linux": {
        "prohibited_file": "/tmp/virus.txt"
    }
}